In [2]:
import mysql.connector

In [4]:
mydb = mysql.connector.connect(
    host= 'localhost',
    user='root',
    password='Benben123,',
    database='spotify_top_100'
)

mycursor = mydb.cursor()

In [5]:
request_1 =  "SELECT  artists,  count(*) AS nb_top100_songs FROM top2018 GROUP BY 1 ORDER BY 2 DESC LIMIT 1;"

In [12]:
mycursor.execute(request_1)

In [13]:
myresult = mycursor.fetchall()

In [14]:
myresult

[('XXXTENTACION', 6)]